.time {
	font-size: 13px;
	color: gray;
    vertical-align: middle;
}
.todo-list li .icon-pause,
.todo-list li .icon-play {
    position: relative;
	font-size: 18px;
	width: 18px;
	height: 18px;
	margin-right: 20px;
}

.todo-list li .icon-play {
	font-size: 18px;
}

.icon-pause:after {
	content: '⏸';
    position: absolute;
    bottom:20%;
    left: 10px;
}

.icon-play:after {
	content: '▶';
    position: absolute;
    bottom:20%;
    left: 10px;
}